/* Colours */
$background-color: #9b89af;
$container-color: #e8e4ed;

$text-color: #551165;
$icon-color: #816b9a;
$accent-color: $text-color;

$anchor-color: #2f0a38;
$primary-button-color: $accent-color;
$secondary-button-color: $icon-color;
$button-hover-color: #380b42;
$button-border-color: $button-hover-color;

$head-row-color: $accent-color;
$even-row-color: $background-color;
$odd-row-color: #c2b3cb;
